//____________________________
// .propery : number みたいなパターンを量産
//____________________________
$dupulication_array: ( //  class: property,
t: top, b: bottom, l: left, r: right, z: z-index, zm: zoom, cp: clip, rsz: resize, m: margin, mt: margin-top, mr: margin-right, mb: margin-bottom, ml: margin-left, p: padding, pt: padding-top, pr: padding-right, pb: padding-bottom, pl: padding-left);
@each $class,
$property in $dupulication_array {
	@for $i from 0 through 100 {
		.#{$class}\:#{$i}px {
			#{$property}: #{$i}px;
		}

		.#{$class}\:#{$i} {
			#{$property}: #{$i};
		}

		.#{$class}\:#{$i}\% {
			#{$property}: #{$i}#{'%'};
		}
	}
}

// ____________________________
// .property : number number number numberのパターンを量産
// margin, paddingなど
// ____________________________
$dupulication_array2: (m: margin, p: padding);
@each $class,
$property in $dupulication_array2 {
	@for $a from 0 through 100 {
		@for $b from 0 through 100 {
			.#{$class}\:#{$a}px\|#{$b}px {
				#{$property}: #{$a}px #{$b}px;
			}
			// @for $c from 0 through 100 {
			// 	.#{$class}\:#{$a}px\|#{$b}px\|#{$c}px {
			// 		#{$property}: #{$a}px #{$b}px #{$c}px;
			// 	}
			// 	@for $d from 0 through 100 {
			// 		.#{$class}\:#{$a}px\|#{$b}px\|#{$c}px\|#{$d}px {
			// 			#{$property}: #{$a}px #{$b}px #{$c}px #{$d}px;
			// 		}
			// 	}
			// }
		}
	}
}
